h1 {
  text-align: center;
}

.channel {
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;

}

.channel-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.channel-content img {
  height: 8rem;
  border-radius: 3%;
}

.channel-content h2 {
  font-size: 4rem;
  margin: 2rem 2rem;
}

.audio-container {
  width: 100%;
  margin-top: 10px;
}

audio {
  width: 100%;  
}
